/* 컴포넌트 */
.about-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  inline-size: 100%;
  font-weight: 600;
  line-height: 1.5;

  .about-card-icon-wrap {
    inline-size: 24px;
    block-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-card-icon {
      inline-size: 100%;
      block-size: 100%;
      object-fit: contain;
    }
  }

  .about-card-title {
    font-size: var(--label-large);
  }

  .about-card-desc {
    font-weight: 400;
    line-height: 1.6;
    font-size: var(--paragraph-medium);
  }

  .about-card-link-wrapper {
    .about-card-link {
      display: inline-block;
      color: var(--black);
      font-size: var(--label-medium);
      text-decoration: none;

      border-bottom: 1px solid var(--gray-300);
      padding: 4px;

      &:hover {
        border-bottom: 1px solid var(--black);
      }

      &:focus {
        border: 2px solid var(--accent);
      }
    }
  }
}
