.common-menu {
  margin: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  block-size: 40px;
  padding: 4px 8px;
  gap: 4px;
  background: var(--primary);
  color: var(--secondary);

  .common-menu-title {
    font-size: var(--label-medium);
    font-weight: 600;
    line-height: 1.5;
    padding: 4px;
  }

  .drop-down {
    display: flex;
    inline-size: 24px;
    block-size: 24px;
    padding: 9px 6px;
    background: transparent;
    border: 0;
    position: relative;

    svg {
      position: absolute;
      inset: 0;
      margin: auto;
      inline-size: 100%;
      block-size: 100%;
    }
    .icon-up {
      display: none;
    }
  }

  &.default {
    .drop-down {
      padding: 4px 8px 4px 4px;
    }
  }

  &.open {
    border-radius: 22px;
    background: var(--contents-content-tertiary);
  }

  &:focus-within {
    border-radius: 22px;
    border: 2px solid var(--accent);
  }
}

/* Logo */
.logo-wrapper {
  inline-size: 192px;
  block-size: 192px;
  display: flex;
  gap: 0;
  margin: 8px;
  padding-block: 44.4px;

  .logo-u {
    flex: 0 0 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &.dark {
      color: var(--white);
    }

    svg {
      inline-size: auto;
      display: block;
    }
  }

  .logo-t {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin-inline-start: -1px;

    .t-top {
      block-size: auto;
    }

    .t-bottom {
      inline-size: auto;
      margin-block-start: -0.5px;
    }
  }
}

/* Lang */
.lang-wrapper {
  display: flex;
  flex-flow: wrap row;
  align-items: center;

  .lang-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px;
    border: 0;
    background: transparent;

    .lang-text {
      color: var(--secondary);
      font-size: 16px;
      font-weight: 700;
    }
  }
}
/* Sign */
.sign {
  font-size: var(--label-medium);
  padding: 8px 12px;
  border-radius: 22px;
  background: var(--secondary, #fff);
  border: 0;
  font-weight: 600;
  line-height: 1.5;

  &:hover {
    background: var(--contents-content-secondary);
  }

  &:focus {
    border: 2px solid var(--accent);
    outline: none;
  }
}
