.common-menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  block-size: 40px;
  padding: 4px 8px;
  gap: 4px;
  background: var(--primary);
  color: var(--secondary);

  &:has(.drop-down) {
    padding: 4px 8px 4px 4px;
  }

  &:not(.drop-down) {
    .dropdown-btn {
      display: none;
    }
  }

  .common-menu-title {
    font-size: var(--label-medium);
    font-weight: 600;
    line-height: 1.5;
    padding: 4px;
  }

  .dropdown-btn {
    display: flex;
    inline-size: 24px;
    block-size: 24px;
    padding: 9px 6px;
    background: transparent;
    border: 0;
    position: relative;

    svg {
      position: absolute;
      inset: 0;
      margin: auto;
      inline-size: 100%;
      block-size: 100%;
    }
    .icon-up {
      display: none;
    }
  }

  &.open {
    border-radius: 22px;
    background: var(--contents-content-tertiary);

    .drop-down {
      .icon-down {
        display: none;
      }
      .icon-up {
        display: block;
      }
    }
  }

  &:focus-within {
    border-radius: 22px;
    border: 2px solid var(--accent);
  }
}

/* Logo */
.logo-wrapper {
  --logo-size: 192px;

  inline-size: var(--logo-size);
  block-size: var(--logo-size);
  display: flex;
  gap: 0;
  margin: 8px;
  padding-block: calc(var(--logo-size) * 0.23125);

  color: currentColor;
  .logo-u {
    flex: 0 0 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .logo-t {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    block-size: 100%;

    .t-top {
      block-size: auto;
      flex-shrink: 0;
    }

    .t-bottom {
      inline-size: auto;
      margin-block-start: -1px;
    }
  }
}

/* Lang */
.lang-wrapper {
  display: flex;
  flex-flow: wrap row;
  align-items: center;

  .lang-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px;
    border: 0;
    background: transparent;

    .lang-text {
      color: var(--secondary);
      font-size: 16px;
      font-weight: 700;
    }
  }
}
/* Sign */
.sign {
  font-size: var(--label-medium);
  padding: 8px 12px;
  border-radius: 22px;
  background: var(--secondary, #fff);
  border: 0;
  font-weight: 600;
  line-height: 1.5;

  &:hover {
    background: var(--contents-content-secondary);
  }

  &:focus {
    border: 2px solid var(--accent);
    outline: none;
  }
}
