.icon-button-component {
  display: flex;
  flex-flow: row nowrap;
  min-inline-size: max-content;
  padding: 1rem 1.5rem;
  border: 0;
  font-size: var(--label-medium);
  font-weight: 600;
  line-height: 1.5;
  color: var(--secondary);
  background: var(--primary);
  align-content: center;
  gap: 4px;

  &:hover,
  &:disabled {
    background: var(--contents-content-secondary);
  }

  &:focus {
    outline: var(--accent) solid 2px;
  }

  svg,
  img {
    display: none;
    inline-size: 24px;
    block-size: 24px;
  }

  &.show-icon {
    svg,
    img {
      display: inline-block;
    }
  }
}
