.icon-button-component {
  background-color: var(--primary, #000);
  width: 149px;
  height: 56px;
  display: flex;
  place-content: center;
  line-height: 150%;

  .download-app {
    color: var(--secondary, #fff);
    background: transparent;
    display: inline-flex;
    text-decoration: none;
    padding: 16px 24px;
    white-space: nowrap;
    align-items: center;
    inline-size: 100%;
    gap: 4px;

    svg {
      inline-size: 24px;
      block-size: 24px;
      pointer-events: none;
      flex-shrink: 0;
    }
    &:hover {
      background: var(--contents-contentSecondary, #6b6b6b);
    }

    &:focus {
      outline: 2px solid var(--accent, #276ef1);
      outline-offset: -1px;
    }

    &:disabled {
      background: var(--contents-contentSecondary, #6b6b6b);
      cursor: not-allowed;
    }
  }

  svg,
  img {
    display: none;
    inline-size: 24px;
    block-size: 24px;
  }

  &.show-icon {
    svg,
    img {
      display: inline-block;
    }
  }
}
