.input-component {
  block-size: 70px;
  display: grid;
  grid-template-rows: 50px minmax(20px, 1fr);

  input {
    block-size: 50px;
    padding: 0 0.75rem;
    border: 1px solid var(--border-border-transparent);
    color: var(--contents-content-primary);
    background: var(--tertiary);
    outline: none;
    font-size: 1rem;
    grid-column: 1;
    grid-row: 1/2;

    &::placeholder {
      color: var(--contents-content-secondary);
    }

    &:focus {
      outline: 2px solid var(--contents-content-primary);
    }

    &:user-valid {
      outline: 2px solid var(--positive);
      background: var(--positive-transparent);
    }

    &:user-invalid {
      outline: 2px solid var(--negative);
      background: var(--negative-tranparent);

      & ~ .error-message {
        display: inline-block;
        color: var(--negative);
      }
    }
  }

  .user-address {
    font-weight: 600;
    line-height: 1.5;
  }

  button {
    inline-size: 24px;
    block-size: 24px;
    padding: 0;
    margin-inline-end: 0.75rem;
    border: 0;
    place-self: center end;
    grid-column: 1;
    grid-row: 1/2;
  }

  .show-pw {
    background: url(/assets/show-pw.svg);
  }

  .error-message {
    display: none;
    font-size: var(--label-small);
    color: var(--secondary);
    margin-block-start: 0.125rem;
  }
}
