* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 컴포넌트 */
.about-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  inline-size: 100%;
  font-weight: 600;
  line-height: 1.5;

  .about-card-icon-wrap {
    inline-size: 24px;
    block-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-card-icon {
      inline-size: 100%;
      block-size: 100%;
      object-fit: contain;
    }
  }

  .about-card-title {
    font-size: var(--label-large);
  }

  .about-card-desc {
    font-weight: 400;
    line-height: 1.6;
    font-size: var(--paragraph-medium);
  }

  .about-card-link-wrapper {
    .about-card-link {
      display: inline-block;
      color: var(--black);
      font-size: var(--label-medium);
      text-decoration: none;

      border-bottom: 1px solid var(--gray-300);
      padding: 4px;

      &:hover {
        border-bottom: 1px solid var(--black);
      }

      &:focus {
        border: 2px solid var(--accent);
      }
    }
  }
}

/* 레이아웃 */
.about-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
  gap: 48px;
}

/* 태블릿 */
@media (min-width: 640px) {
  .about-card-wrapper {
    flex-flow: nowrap row;
    padding: 56px 32px;
  }
  .about-card {
    inline-size: 375px;
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .about-card-wrapper {
    gap: 36px;
    padding: 64px;
    min-inline-size: 350px;
  }
  .about-card {
    inline-size: 558px;
  }
}
