.apply-header {
  font-size: var(--heading-xxl);
  font-weight: 700;
  line-height: 1.4;
}

.input-wrapper {
  block-size: 70px;
  display: grid;
  grid-template-rows: 50px minmax(20px, 1fr);

  input {
    block-size: 50px;
    padding: 0 0.75rem;
    border: 1px solid var(--border-border-transparent);
    color: var(--contents-content-primary);
    background: var(--tertiary);
    outline: none;
    font-size: 1rem;
    grid-column: 1;
    grid-row: 1/2;

    &::placeholder {
      color: var(--contents-content-secondary);
    }

    &:focus {
      outline: 2px solid var(--contents-content-primary);
    }

    &:user-valid {
      outline: 2px solid var(--positive);
      background: var(--positive-transparent);
    }

    &:user-invalid {
      outline: 2px solid var(--negative);
      background: var(--negative-tranparent);

      & ~ .error-message {
        display: inline-block;
        color: var(--negative);
      }
    }
  }

  .user-address {
    font-weight: 600;
    line-height: 1.5;
  }

  button {
    inline-size: 24px;
    block-size: 24px;
    padding: 0;
    margin-inline-end: 0.75rem;
    border: 0;
    place-self: center end;
    grid-column: 1;
    grid-row: 1/2;
  }

  .show-pw {
    background: url(/assets/show-pw.svg);
  }

  .error-message {
    display: none;
    font-size: var(--label-small);
    color: var(--secondary);
  }
}

.link {
  padding: 0.25rem;
  color: var(--contents-content-primary);
  border-bottom: 1px solid var(--contents-content-tertiary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.caution {
  font-size: var(--label-small);
  line-height: 1.6;
  color: var(--contents-content-primary);
}

.sign-up-button {
  inline-size: max-content;
  padding: 1rem 1.5rem;
  font-size: var(--label-medium);
  font-weight: 600;
  line-height: 1.5;
  color: var(--secondary);
  background: var(--primary);
}

.login-label {
  font-size: var(--label-small);
}

.apply-template {
  padding: 2.5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (width >= 1280px) {
    padding: 4rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .apply-header {
    grid-column: 1/5;
    @media (width >= 1280px) {
      grid-column: 1 / span 2;
      place-self: center start;
    }
  }

  .apply-form {
    display: grid;
    grid-auto-columns: subgrid;
    align-items: center;
    column-gap: 1rem;
    grid-column: 3 / span 2;

    @media (width >= 1280px) {
    }
  }

  fieldset {
    display: contents;
  }

  legend {
    margin-block: 2.25rem;
    color: var(--contents-content-primary);
    font-size: var(--label-large);
    font-weight: 600;
    line-height: 1.5;

    @media (width >= 1280px) {
      grid-column: 3 / span 1;
    }
  }

  .detail-link {
    grid-row: 1/2;
    grid-column: 2/3;
    place-self: center end;

    @media (width >= 1280px) {
      grid-column: 4;
    }
  }

  .input-wrapper {
    grid-column: 1 / span 2;

    @media (width >= 1280px) {
      grid-column: 3 / span 2;
    }

    &:nth-child(2) {
      grid-column: 1 / span 1;

      @media (width >= 1280px) {
        grid-column: 3 / span 1;
      }
    }
    &:nth-child(3) {
      grid-column: 2 / span 1;

      @media (width >= 1280px) {
        grid-column: 4 / span 1;
      }
    }
  }

  .caution {
    margin-block-start: 1rem;
    grid-column: 1 / span 2;

    @media (width >= 1280px) {
      grid-column: 3 / span 2;
    }
  }

  .login-wrapper {
    margin-block-start: 2.25rem;
    grid-column: 1/5;

    @media (width > 1280px) {
      grid-column: 3/5;
    }

    .login-label {
      margin-inline-start: 2.25rem;
      margin-inline-end: 1rem;
    }
  }
}
