@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url(./modern-reset.css);
@import url(../buttons-component.css);
@import url(../styles/components/icon-button-component.css);

.banner {
  color: var(--primary, #000);
  font-family: Pretendard;
  line-height: 150%;
  padding: 40px 24px;
  min-height: 256px;
  min-width: 500px;

  background-image: url(./assets/banner.webp);
  background-color: var(--contents-contentSecondary, #6b6b6b);
  background-repeat: no-repeat;
  background-position: 55% bottom;
  background-size: cover;

  .banner-wrap {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .title-ut {
    font-size: 28.43px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  p {
    font-size: 16px;
  }
}

@media (min-width: 640px) {
  .banner {
    padding: 56px 32px;
    min-height: 359px;
    .title-ut {
      font-size: 37.897px;
    }
  }
}

@media (min-width: 1024px) {
  .banner {
    min-height: 399px;
    padding: 64px;

    .banner-wrap {
      display: flex;
      flex-direction: column;
      gap: 28px;
      margin-left: 12%;
    }

    .title-ut {
      font-size: 50.517px;
    }
  }
}
