:root {
  --pink: #ffd1dc;
  --lavender: #e6e6fa;
  --mint: #b2f2bb;
  --blue: #a2ddf0;
  --yellow: #fff9c4;
  --coral: #ffb6c1;
  --green: #c8e6c9;
  --purple: #d1c4e9;
  --orange: #ffccbc;
  --gray: #cfd8dc;
  --peach: #ffe5b4;
  --lilac: #c8a2c8;
  --teal: #afeeee;
  --rose: #ffc0cb;
  --sky-blue: #87ceeb;
  --lemon: #fffacd;
  --mauve: #e0b0ff;
  --aqua: #b2ebf2;
  --apricot: #fdd5b1;
  --ivory: #fffff0;
  --dark-blue: #4a6ee0;

  --black: #121212;
  --white: #fff;
}
