.apply-template {
  padding: 2.5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (width >= 1280px) {
    padding: 4rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .apply-header {
    grid-column: 1/5;
    font-size: var(--heading-xxl);
    font-weight: 700;
    line-height: 1.4;

    @media (width >= 1280px) {
      grid-column: 1 / span 2;
      place-self: center start;
    }
  }

  .apply-form {
    display: grid;
    grid-auto-columns: subgrid;
    align-items: center;
    column-gap: 1rem;
    grid-column: 3 / span 2;

    @media (width >= 1280px) {
    }
  }

  fieldset {
    display: contents;
  }

  legend {
    margin-block: 2.25rem;
    color: var(--contents-content-primary);
    font-size: var(--label-large);
    font-weight: 600;
    line-height: 1.5;

    @media (width >= 1280px) {
      grid-column: 3 / span 1;
    }
  }

  .detail-link {
    grid-row: 1/2;
    grid-column: 2/3;
    place-self: center end;

    @media (width >= 1280px) {
      grid-column: 4;
    }
  }

  .input-component {
    grid-column: 1 / span 2;

    @media (width >= 1280px) {
      grid-column: 3 / span 2;
    }

    &:nth-child(2) {
      grid-column: 1 / span 1;

      @media (width >= 1280px) {
        grid-column: 3 / span 1;
      }
    }
    &:nth-child(3) {
      grid-column: 2 / span 1;

      @media (width >= 1280px) {
        grid-column: 4 / span 1;
      }
    }
  }

  .caution {
    font-size: var(--label-small);
    line-height: 1.6;
    color: var(--contents-content-primary);
    margin-block-start: 1rem;
    grid-column: 1 / span 2;

    @media (width >= 1280px) {
      grid-column: 3 / span 2;
    }
  }

  .login-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-block-start: 2.25rem;
    grid-column: 1/5;

    @media (width > 1280px) {
      grid-column: 3/5;
    }

    .login-label {
      font-size: var(--label-small);
      margin-inline-start: 2.25rem;
      margin-inline-end: 1rem;
    }
  }
}
