.banner {
  color: var(--primary, #000);
  line-height: 150%;
  block-size: 100%;
  min-block-size: 256px;
  min-inline-size: 320px;
  position: relative;
  overflow: hidden;
  gap: 12px;

  .banner-image {
    inline-size: 100vw;
    block-size: 100%;
    min-inline-size: 500px;
    object-fit: cover;
    z-index: 0;
    position: absolute;
  }

  .banner-wrap {
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
    gap: 28px;
    z-index: 1;
    position: relative;
    margin: 0 auto;

    justify-content: flex-start;
    align-items: flex-start;
  }

  .icon-button-component {
    width: 9.3125em;
    gap: 4px;
  }

  .title-ut {
    font-size: 28.43px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  p {
    font-size: 16px;
  }
}

@media (min-width: 640px) {
  .banner {
    min-block-size: 350px;

    .title-ut {
      font-size: 37.897px;
    }
    .banner-wrap {
      padding: 56px 32px;
    }
  }

  @media (min-width: 1280px) {
    .banner {
      min-block-size: 400px;

      .banner-wrap {
        flex-direction: column;
        justify-content: center;
        padding: 64px;
        gap: 48px;
      }

      .title-ut {
        font-size: 50.517px;
      }
    }
  }
}
