.download-template {
  background: var(--tertiary);
  padding: 2.5rem 1.5rem;

  @media (width >= 600px) {
    padding: 3.5rem 2rem;
  }

  @media (width >= 1280px) {
    padding: 4rem;
  }

  .download-wrapper {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2.25rem;

    @media (width >= 1280px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.25rem;
    }
  }

  .download-header {
    font-size: var(--heading-large);
    font-weight: 700;
    line-height: 1.4;
    color: var(--contents-content-primary);

    @media (width >= 600px) {
      font-size: var(--heading-xl);
    }

    @media (width >= 1280px) {
      font-size: var(--heading-xxl);
      grid-column: 1 / span 2;
    }
  }

  .download-card-component {
    @media (width >= 1280px) {
      &:nth-child(2) {
        grid-column: 1 / span 1;
      }

      &:nth-child(3) {
        grid-column: 2 / span 1;
      }
    }
  }
}
