.footer {
  width: 100%;
  padding: 64px 20px;
  box-sizing: border-box;
}

.footer-content {
  max-width: 1280px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 20px;
  margin-bottom: 60px;
}

.footer-nav-col h3 {
  margin-bottom: 20px;
}

.footer-nav-list {
  padding: 0;
  margin: 0;
}

.footer-nav-item {
  margin-bottom: 12px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.footer-socials {
  display: flex;
  gap: 20px;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.footer-legal-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .footer-nav {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
