/* 초기화 */
@import url('./styles/theme.css');
@import url('./styles/base.css');
@import url('./styles/modern-reset.css');
/* 컴포넌트 */
@import url('./styles/components/input-component.css');
@import url('./styles/components/link-button-component.css');
@import url('./styles/components/icon-button-component.css');
@import url('./styles/components/download-card-component.css');
@import url('./styles/components/about-card-component.css');
@import url('./styles/components/accordion-components.css');
@import url('./styles/components/footer-component.css');
@import url('./styles/components/common-component.css');
/* 레이아웃(템플릿) */
@import url('./styles/templates/download-template.css');
@import url('./styles/templates/apply-template.css');
@import url('./styles/templates/about-template.css');
@import url('./styles/templates/banner-template.css');
@import url('./styles/templates/accordion-template.css');
@import url('./styles/templates/nav-template.css');

.template-container {
  display: flex;
  flex-flow: column nowrap;

  @media (width >= 1280px) {
    .nav-contents-wrapper {
      order: -1;
    }

    .about-card-wrapper {
      order: -1;
    }
  }
}
