/* 초기화 */
@import url('./styles/theme.css');
@import url('./styles/base.css');
@import url('./styles/modern-reset.css');
/* 컴포넌트 */
@import url('./src/styles/components/input-component.css');
@import url('./src/styles/components/link-button-component.css');
@import url('./src/styles/components/icon-button-component.css');
@import url('./src/styles/components/download-card-component.css');
/* 레이아웃(템플릿) */
@import url('/src/styles/templates/apply-template.css');
@import url('./styles/about.css');
